@font-face {
    font-family: carra;
    src: url(MacondoSwashCaps-Regular.ttf);
}

body {
    font-family: poppin sans-serif;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 6%;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo {
    margin-top: -210px;
    font-family: carra;
    font-size: 200%;

}

.navmenu {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    gap: 50px;
    margin-top: -120px;
    list-style: none;
    font-size: larger;
    text-decoration: none;
}

.navmenu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.icons {
    display: flex;
    left: 50px;
    gap: 20px;
    font-size: 25px;
    margin-top: 50px;
    position: absolute;
    transform: rotate(14deg);
    color: white;
}

.icons-container {
    display: inline-block;
}

.dot {
    background-color: yellow;
    border-radius: 30px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 15px;

}

.shape-container {
    background-color: rgb(71, 71, 71);
    border: solid 1px;
    width: 30%;
    height: 400px;
    position: relative;
    transform: rotate(-13deg);
    left: 80px;
    border-radius: 90px 0 0;
}

.home {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 93%;
    margin-top: -11%;
}

.home-paragraph {

    font-weight: 100;
}

.homeh1 {
    font-size: xx-large;
}

.theme {
    border: 2px dashed grey;

}

.button {
    padding: 20px 30px;
    cursor: pointer;
    background: grey;
    color: white;
    border-radius: 50px;
    border: none;
    margin-right: 20px;
    height: 90px;
    width: 190px;
    font-size: large;


}

.rough-eimage {
    height: 45%;
}

.home-buttons span {
    margin-left: 3%;
    font-size: x-large;
}

.play-btn {
    padding: 10px;
    background-color: grey;
    color: black;
    border-radius: 5px;
    border: none;
}

.statistics {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    gap: 20px;
    font-weight: bold;

}

.statistics p {
    font-size: 40px;
    margin: 20px 0px;
    margin-left: 5px;

}

.brands {
    word-spacing: 160px;
    font-size: xx-large;
    color: gray;
    display: block;
    margin-top: 12%;
}

#ikea {
    font-family: chango;
}

#dip {
    font-family: Newsreader;
}

#desieno {
    font-family: Comfortaa;

}

#benuta {
    font-family: Mitr;
}

#westwing {
    font-family: Libre Caslon Display;

}

.bestsellers {
    display: block;
    margin-top: 15%;
}

.carets {
    margin-left: 85%;
    cursor: pointer;
    font-size: xx-large;
}

.left-caret {
    color: grey;
}

.products {
    display: flex;
    width: 95%;
    margin-top: 5%;
}

.rough-image {
    height: 50%;
}

.nodic-vase {
    width: 50%;
    margin-top: 4%;
    height: 60%;
    margin-left: 4%;

}

.nodic-vase img {
    height: 60%;
    width: 50%;

}

.white-ceramic {
    height: 100%;
    display: block;
    margin-left: -19%;
    margin-right: 5%;
    width: 25%;
    margin-top: 4%;

}

.white-ceramic img {
    height: 100%;
    width: 100%;
}

#fourth {
    margin-top: 39%;
}

.shop {
    padding: 20px 30px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 50px;
    margin-right: 20px;
    height: 90px;
    width: 190px;
    font-size: large;
    margin-top: 4%;
}

.new {
    top: 10px;
    left: 10px;
    color: red;
    padding: 5px 6px;
    font-weight: bold;
}

.discount {
    color: black;
    padding: 5px 6px;
    margin-left: 200px;

}

.rough-vase #rough {
    margin-top: 43%;
}

.description {
    margin-right: 50%;
}

.price {
    font-size: 21px;
}

.promotions-offer {
    text-align: center;
    margin-top: 10%;
}

.advert-offer {
    float: right;
    margin-right: 20%;
    padding: 100px;

}

.heading {
    font-weight: bold;
    font-size: 50px;

}

.services {
    display: flex;
    margin-top: 11%;
}

.services h1 {
    font-size: 70px;
    line-height: 90px;
}

.display {
    margin-left: 15%;
}

.section6 {
    justify-content: space-between;
}

.offers {
    margin-left: 8%;
    width: 100%;
}

.customer-review {
    text-align: center;
    margin-top: 10%;

}

.customer-review img {
    margin-right: 10%;
    margin-top: 20%;
    font-size: larger;
    display: flex;
}

.customer-reviewi {
    margin-left: 50%;
}

.customer-review span {
    font-size: larger;
}

.offer {
    display: flex;
    gap: 100px;
    margin-right: 20%;
    margin-top: 200px;

}

.reviews {
    margin-left: 35%;
    margin-top: 20%;
    font-size: large;

}

.reviews p {
    padding-left: 10%;

}

.arther-image {
    display: flex;
    margin: 8%;
}

.contacts-links {
    display: flex;
    margin-left: 11%;
    gap: 12%;
    margin-bottom: 9%;
    font-size: large;
    text-align: center;
}

.copyrights {
    display: flex;
    margin-left: 11%;
    gap: 53%;
}

.footer {
    background-color: rgb(255, 255, 255);
}